body{
	background-color: #EAF6F6;
}

hr{
	border-style: none;
	border-width: 5px;
	border-top-style: dotted;
	width:5%;
	border-color: grey;
}
h3:hover{				

	color:#66BFBF;
}
#heading{

	color:#66BFBF;
}

